<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8qXmNE9Sw_ftUb8oVxzmwDqna1o0WaTg</string>
	<key>GCM_SENDER_ID</key>
	<string>453372728981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omniful.debugapp</string>
	<key>PROJECT_ID</key>
	<string>al-sadan-ecom</string>
	<key>STORAGE_BUCKET</key>
	<string>al-sadan-ecom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453372728981:ios:dac4cd5e3a6b36a36b2d9c</string>
</dict>
</plist>